.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  *:focus {
    outline: none;
  }
  
  button {
    padding: 15px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    white-space: nowrap;
    position: relative;
  }
  
  button::after {
    content: "Apply Changes";
  }
  
  button.save-animation {
    animation: saveAnimation 450ms ease forwards;
  }
  
  button.save-animation::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #07d;
    border-bottom-color: #07d;
    animation: spinner 0.8s ease infinite;
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes saveAnimation {
    0% {
      width: 200px;
    }
  
    100% {
      width: 0px;
      background: #fff;
    }
  }
  